@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;
}
h1{
    float: left;
}
header .contenedor{
    display: table;
}
section{
    width: 100%;
    margin-bottom: 25px;
   
}
#bienvenidos{
    text-align: center;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy{
    font-size: 20px;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
    
}
.sociales a{
    color: #333;
    text-decoration: none;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 300px;
    display: inline-block;
    background-color: #f9f9f9;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.description {
    font-size: 16px;
    text-align: left;
}

.price {
    font-size: 18px;
    color: #0077cc;
    margin-top: 10px;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #0055aa;
}
hr{
    margin: 20px;
}
@media(min-width:760px){
    .sociales{
        width: auto;
    }
    
    footer .contenedor{
        justify-content: space-between;
    }
}

@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}