<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/ca7993bf0a.js" crossorigin="anonymous"></script>
    <title>Hoja de Vida</title>
</head>
<body>
    <div id="container">
        <header>
            <div>
                <img src="Logo_Perfil.jpg" alt="Imagen">
            </div>
            <section id="informacion">
                <div>
                    <h1>DANIEL PULGARIN GRACIANO</h1>
                    <h2>ESTUDIANTE IUE</h2>
                </div>
            </section>
        </header>
        <div class="clearfix"></div>
        <section id="content">
        	<div>
        		<article>
                <h2 class="aplicar_color">EDUCACIÓN</h2>
                <ul>
                    <li>2018 - 2023 Universidad</li>
                    <li>2018 - 2023 Universidad</li>
                    <li>2020 - 2023 Universidad</li>
                    
                </ul>
            </article>
            <article>
                <h2 class="aplicar_color">EXPERIENCIA</h2>
                <ul>
                    <li>2020 - 2023 Universidad</li>
                    <li>2020 - 2023 Universidad</li>
                    <li>2020 - 2023 Universidad</li>
                </ul>
            </article>
        	</div>
        	<div class="right">
        		<article>
        			<h2>CONTACTO</h2>
        			<i class="fa-solid fa-location-dot"></i><h5>Medellin - Antioquia</h5>
        			<i class="fa-solid fa-mobile"></i><h5>305 3549508</h5>
        			<i class="fa-solid fa-envelope"></i><h5> dpulgarin@correo.iue.edu.co</h5>
        		</article>
        		<article>
        			<h2>Habilidades</h2>
        			<h5>Microsoft Excel</h5>
        			<h5>Power Point</h5>
        			<h5>Word</h5>
        		</article>
        	</div>
            
        </section>
    </div>
</body>
</html>