<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            background-color: black;
            color: aliceblue;
        }

        #container {
            width: 67%;
            margin: 0px auto;
        }
       

        p {
            font-size: 1.3rem;
            color: #FFFFFF;
            opacity: 0.8;
            text-align: left;
            line-height: 2em;
            margin-bottom: 40px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div id="container">
        <h1>¿Qué son los protocolos de internet?</h1>
        <p>Los protocolos de internet son la clave para que la red funcione, son imprescindibles para que se produzca el
            intercambio de datos entre ordenadores y
            servidores; establecen las reglas y la forma en que se produce la transferencia de información. Los
            protocolos de internet más importantes , y
            verdaderos pilares, son el TCP y el IP; aunque desde luego hay más y todos ellos de un modo u otro cumplen
            una función muy importante dentro del complejo mundo que r
            epresenta la red. ARPA (Advance Research Projects Agency), es considerada la precursora de internet;
            organización civil que recibía fondos del Pentágono y,
            curiosamente aunque no tanto, sus investigadores eran hackers. A finales de los años 60, ARPA se enfrentó al
            desafío de lograr interconectar los ordenadores de
            diferentes universidades de forma eficaz. El responsable de la organización de aquellos años, Bob Taylor,
            encontró la solución al interconectar los ordenadores
            de las universidades a un servidor central a través de las líneas telefónicas, así surge ARPAnet. Los
            protocolos de internet comenzaron a estructurarse en los años
            70´ en el DARPA (Agencia de Investigación de Proyectos de Defensa de los EE.UU), los estudios y trabajos
            relacionados con la transmisión de datos en un comienzos se
            centraban en la utilización de los satélites y las ondas de radio. En 1975 comenzaron las primeras pruebas
            oficiales y a comienzos de 1982 el TCP/IP se convirtió en
            el estándar para las comunicaciones entre redes militares de los EE.UU. El 1 de enero de 1983 los protocolos
            fueron activados de forma oficial y permanente. Sentando
            así las bases de los posteriores protocolos de internet que se irían implementando hasta nuestros días. Al
            ser el Ministerio de Defensa de los EE.UU el que
            proporcionó fondos para el ARPA y, posteriormente, instrumentarse los protocolos de internet en el DARPA,
            entenderán porque muchos atribuyen el nacimiento de
            internet al ejército norteamericano. Aunque el Ministerio de Defensa lo etiquetara de
            "proyecto militar" para justificar los fondos destinados, recordemos que los pioneros fueron hackers
            trabajando para una organización civil.</p>
        <h2>HTTP</h2>
        <P>El HTTP o HyperText Transfer Protocol es un protocolo de transferencia sobre el que se basa la red
            informática mundial (WWW). Funciona como base para los intercambios de datos realizados en la web, y
            mantiene una estructura basadas en los clientes y servidores y orientada a transacciones.</P>
        <h2>TCP/IP</h2>
        <P>TCP/IP son las siglas de Transmission Control Protocol/Internet Protocol (Protocolo de control de
            transmisión/Protocolo de Internet). TCP/IP es un conjunto de reglas estandarizadas que permiten a los
            equipos comunicarse en una red como Internet.</P>
        <h2>DNS</h2>
        <P>
            Todas los equipos con Internet, desde su teléfono inteligente o portátil a los servidores con contenido de
            sitios web de venta minorista masiva, se buscan
            y comunican entre sí mediante el uso de números. Estos números se conocen como direcciones IP. Cuando abre
            un navegador web y visita un sitio, no necesita
            recordar e ingresar un número largo. En su lugar, puede ingresar un nombre de dominio, como ejemplo.com, y
            de este modo también puede llegar al lugar correcto. Un servicio de DNS, como Amazon Route 53, es un
            servicio distribuido globalmente que convierte los nombres legibles por las personas, como www.example.com,
            en las direcciones IP numéricas, como 192.0.2.1, que utilizan los equipos para conectarse entre sí. El
            sistema DNS de Internet funciona como una agenda telefónica donde se administra el mapeo entre los nombres y
            los números. Los servidores DNS convierten las solicitudes de nombres en direcciones IP, con lo que se
            controla a qué servidor se dirigirá un usuario final cuando escriba un nombre de dominio en su navegador
            web. Estas solicitudes se denominan consultas.
        </P>
        <h2>CDN</h2>
        <P>
            Una red de entrega de contenido (CDN) es una red de servidores interconectados que acelera la carga de las
            páginas web para las aplicaciones que tienen un uso intensivo de datos. CDN puede significar red de entrega
            de contenido o red de distribución de contenido. Cuando un usuario visita un sitio web, los datos del
            servidor de ese sitio tienen que viajar a través de Internet para llegar a la computadora del usuario. Si el
            usuario se encuentra lejos de ese servidor, un archivo de gran tamaño, como un video o una imagen del sitio
            web, se demorará mucho en cargar. En su lugar,
            el contenido del sitio web se almacena en servidores de CDN ubicados geográficamente más cerca de los
            usuarios, por lo que el contenido llega a sus computadoras mucho más rápido.
        </P>
        <h2>WWW</h2>
        <p>La World Wide Web —comúnmente conocida como WWW , W3 , o la Web— es un sistema interconectado de páginas web
            públicas accesibles a través de Internet . La Web no es lo mismo que el Internet: la Web es una de las
            muchas aplicaciones construidas sobre Interne</p>
        <h2>FTP</h2>
        <P>
            FTP es el acrónimo de «Protocolo de Transferencia de Ficheros» (en inglés, File Transfer Protocol). FTP es
            un protocolo que se utiliza para transferir todo tipo de archivos entre equipos conectados a una red, por
            ejemplo Internet. Las cuentas de FTP son el medio estándar para gestionar el contenido alojado en un
            servidor web: enviar archivos, descargarlos, crear directorios, borrar ficheros, etc. Cada cuenta FTP se
            identifica por su nombre de usuario y se valida utilizando una contraseña. Asimismo, cada cuenta de FTP está
            asociada a un directorio que se comporta como su raíz: el usuario que conecta por FTP puede acceder a los
            ficheros creados en directorios y subdirectorios a partir de su raíz, pero no más más atrás.
        </P>
        <h2>HTML</h2>
        <p>HTML es un lenguaje de marcado que se utiliza para el desarrollo de páginas de Internet. Se trata de la sigla
            que corresponde a HyperText Markup Language, es decir, Lenguaje de Marcas de Hipertexto, que podría ser
            traducido como Lenguaje de Formato de Documentos para Hipertexto.</p>
    </div>
</body>

</html>